USE [SchoolManagement]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[StudentId] [int] NULL,
	[SchoolId] [int] NULL,
	[RegistrationDate] [datetime] NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DateOfBirth] [date] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers_Students]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers_Students](
	[TeacherId] [int] NULL,
	[StudentId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([Id], [Code], [StudentId], [SchoolId], [RegistrationDate]) VALUES (1, 1, 1, 1, CAST(N'2025-08-18T15:56:56.343' AS DateTime))
INSERT [dbo].[Registrations] ([Id], [Code], [StudentId], [SchoolId], [RegistrationDate]) VALUES (2, 2, 2, 1, CAST(N'2025-08-18T15:57:45.543' AS DateTime))
INSERT [dbo].[Registrations] ([Id], [Code], [StudentId], [SchoolId], [RegistrationDate]) VALUES (3, 3, 3, 2, CAST(N'2025-08-18T16:03:44.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Schools] ON 

INSERT [dbo].[Schools] ([Id], [Code], [Name], [Description]) VALUES (1, 1, N'Conservatorio Nacional de Musica del Peru', N'Institución pública más importante de formación musical en el país. Ofrece carreras profesionales en composición, dirección, ejecución instrumental y pedagogía musical.')
INSERT [dbo].[Schools] ([Id], [Code], [Name], [Description]) VALUES (2, 2, N'Berklee College of Music', N'Una de las escuelas más prestigiosas del mundo en música contemporánea, producción musical, jazz y composición.')
INSERT [dbo].[Schools] ([Id], [Code], [Name], [Description]) VALUES (3, 3, N'The Juilliard School', N'Escuela de artes escénicas con gran reputación en música clásica, ópera y danza. Sus egresados son músicos reconocidos a nivel mundial.')
SET IDENTITY_INSERT [dbo].[Schools] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Code], [FirstName], [LastName], [DateOfBirth]) VALUES (1, 1, N'Valeria', N'Castillo', CAST(N'2000-08-18' AS Date))
INSERT [dbo].[Students] ([Id], [Code], [FirstName], [LastName], [DateOfBirth]) VALUES (2, 2, N'Diego', N'Ramirez', CAST(N'1999-05-12' AS Date))
INSERT [dbo].[Students] ([Id], [Code], [FirstName], [LastName], [DateOfBirth]) VALUES (3, 3, N'Camila', N'Torres', CAST(N'2001-11-03' AS Date))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [SchoolId], [Code], [FirstName], [LastName]) VALUES (1, 1, 1, N'Leopold', N'Mozart')
INSERT [dbo].[Teachers] ([Id], [SchoolId], [Code], [FirstName], [LastName]) VALUES (2, 2, 2, N'Nadia', N'Boulanger')
INSERT [dbo].[Teachers] ([Id], [SchoolId], [Code], [FirstName], [LastName]) VALUES (3, 1, 3, N'Shinichi', N'Suzuki')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
INSERT [dbo].[Teachers_Students] ([TeacherId], [StudentId]) VALUES (1, 1)
INSERT [dbo].[Teachers_Students] ([TeacherId], [StudentId]) VALUES (1, 2)
INSERT [dbo].[Teachers_Students] ([TeacherId], [StudentId]) VALUES (2, 3)
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Schools] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[Schools] ([Id])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registration_Schools]
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registration_Students]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Schools] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[Schools] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Schools]
GO
ALTER TABLE [dbo].[Teachers_Students]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Students_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Teachers_Students] CHECK CONSTRAINT [FK_Teachers_Students_Students]
GO
ALTER TABLE [dbo].[Teachers_Students]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Students_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[Teachers_Students] CHECK CONSTRAINT [FK_Teachers_Students_Teachers]
GO
/****** Object:  StoredProcedure [dbo].[sp_School_CRUD]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_School_CRUD]
    @Accion TINYINT,  -- 1: INSERTAR, 2: ACTUALIZAR, 3: ELIMINAR, 4: CONSULTAR_ID, 5: CONSULTAR_TODOS
    @Id INT = NULL,
    @Code INT = NULL,
    @Name VARCHAR(100) = NULL,
    @Description VARCHAR(500) = NULL
AS
BEGIN
    -- INSERTAR (1)
    IF @Accion = 1
    BEGIN
        INSERT INTO Schools(Code, Name, Description)
        VALUES (@Code, @Name, @Description)
        SELECT SCOPE_IDENTITY() AS Id
    END

    -- ACTUALIZAR (2)
    ELSE IF @Accion = 2
    BEGIN
        UPDATE Schools
        SET Name = @Name, Description = @Description
        WHERE Id = @Id
    END

    -- ELIMINAR (3)
    ELSE IF @Accion = 3
    BEGIN
        DELETE FROM Schools WHERE Id = @Id
    END

    -- CONSULTAR POR ID (4)
    ELSE IF @Accion = 4
    BEGIN
        SELECT Id, Code, Name, Description FROM Schools WHERE Id = @Id
    END

    -- CONSULTAR TODOS (5)
    /*
    ELSE IF @Accion = 5
    BEGIN
        SELECT Id, Nombre, Direccion, FechaFundacion FROM Escuelas
    END
    */
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_CRUD]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Student_CRUD]
    @Accion TINYINT,  -- 1: INSERTAR, 2: ACTUALIZAR, 3: ELIMINAR, 4: CONSULTAR_ID
    @Id INT = NULL,
    @Code INT = NULL,
    @FirstName VARCHAR(100) = NULL,
    @LastName VARCHAR(100) = NULL,
    @DateOfBirth DATE = NULL
AS
BEGIN
    -- INSERTAR (1)
    IF @Accion = 1
    BEGIN
        INSERT INTO Students (Code, FirstName, LastName, DateOfBirth)
        VALUES (@Code, @FirstName, @LastName, @DateOfBirth)
        SELECT SCOPE_IDENTITY() AS Id
    END

    -- ACTUALIZAR (2)
    ELSE IF @Accion = 2
    BEGIN
        UPDATE Students
        SET FirstName = @FirstName, LastName = @LastName, DateOfBirth = @DateOfBirth
        WHERE Id = @Id
    END

    -- ELIMINAR (3)
    ELSE IF @Accion = 3
    BEGIN
        DELETE FROM Students WHERE Id = @Id
    END

    -- CONSULTAR POR ID (4)
    ELSE IF @Accion = 4
    BEGIN
        SELECT Id, Code, FirstName, LastName, DateOfBirth FROM Students WHERE Id = @Id
    END
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Teacher_CRUD]    Script Date: 18/08/2025 01:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Teacher_CRUD]
    @Accion TINYINT,  -- 1: INSERTAR, 2: ACTUALIZAR, 3: ELIMINAR, 4: CONSULTAR_ID
    @Id INT = NULL,
    @SchoolId INT = NULL,
    @Code INT = NULL,
    @FirstName VARCHAR(100) = NULL,
    @LastName VARCHAR(100) = NULL
AS
BEGIN
    -- INSERTAR (1)
    IF @Accion = 1
    BEGIN
        INSERT INTO Teachers(SchoolId, Code, FirstName, LastName)
        VALUES (@SchoolId, @Code, @FirstName, @LastName)
        SELECT SCOPE_IDENTITY() AS Id
    END

    -- ACTUALIZAR (2)
    ELSE IF @Accion = 2
    BEGIN
        UPDATE Teachers
        SET SchoolId = @SchoolId, FirstName = @FirstName, LastName = @LastName
        WHERE Id = @Id
    END

    -- ELIMINAR (3)
    ELSE IF @Accion = 3
    BEGIN
        DELETE FROM Teachers WHERE Id = @Id
    END

    -- CONSULTAR POR ID (4)
    ELSE IF @Accion = 4
    BEGIN
        SELECT Id, SchoolId, Code, FirstName, LastName  FROM Teachers WHERE Id = @Id
    END
END
GO
